.hero {
  position: relative;
  z-index: 5;
  margin-top: 0.5rem;
  height: 480px;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.banner--fadeBottom {
  height: 4rem;
  position: absolute;
  top: 490px;
  height: 15%;
  width: 100%;
  z-index: 7;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(46, 139, 87, 0.2),
    rgb(46, 139, 87)
  );
}

.waves {
  position: absolute;
  z-index: 0;
}

.bckgd {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../../img/Natal/capanatal.jpg");
  opacity: 80%;
  height: 100%;
  width: 100%;
  background-position: 0px 500px;
  background-size: 100%;
  animation: vaivolta 15s infinite;
}

@keyframes vaivolta {
  0% {
    background-position: 0px 500px;
  }
  50% {
    background-position: 0px 1030px;
  }
  100% {
    background-position: 0px 500px;
  }
}

.hero > h1 {
  text-transform: uppercase;
  font-size: 5rem;
  color: var(--cor-secundaria);
  font-family: "Source Sans Pro", sans-serif;
  text-shadow: 2px 2px black;
  line-height: 1rem;
  margin-top: 2rem;
}

.hero > h2 {
  align-self: flex-start;
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--cor-secundaria);
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1rem;
  padding-top: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
  .hero > h1 {
    font-size: 4rem;
  }

  .banner--fadeBottom {
    height: 8rem;
    top: 480px;
  }
}

@media (min-width: 1024px) {
  .banner--fadeBottom {
    height: 8rem;
    top: 480px;
  }
}

@media (max-width: 425px) {
  .hero > h1 {
    font-size: 2rem;
  }

  .hero > h2 {
    font-size: 1rem;
  }
}
