.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(243, 243, 243);
  box-shadow: 0rem 0.5rem var(--cor-detalhes);
}

.navbar > a,
.btn-cadastro > a {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.navbar > a:hover {
  color: var(--cor-terceira);
}

.btn-cadastro {
  height: 120px;
  width: 8rem;
  background-color: var(--cor-detalhes);
  border: 0px;
  cursor: pointer;
}

.btn-cadastro:hover {
  background-color: var(--cor-terceira);
}

.logoNavbar {
  height: 120px;
}

.sair {
  cursor: pointer;
  justify-self: center;
  align-self: center;
}

.sair:hover {
  color: var(--cor-terceira);
}

.usuariologado {
  justify-self: center;
  align-self: center;
  font-size: 1.2rem;
}

.navItem {
  text-decoration: none;
  color: black;
}
