.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-secundaria);
  box-shadow: 0rem 0.5rem var(--cor-detalhes);
}

.navbar > a,
.btn-cadastro > a {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.navbar > a:hover {
  color: var(--cor-terceira);
  text-decoration: underline;
}

.btn-cadastro {
  height: 150px;
  width: 8rem;
  background-color: var(--cor-detalhes);
  border: 0px;
  cursor: pointer;
}

.btn-cadastro:hover {
  background-color: var(--cor-terceira);
}

.logoNavbar {
  height: 150px;
}
