.container {
  display: grid;
  height: 850px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  z-index: 1;
  background-color: rgb(235, 235, 235);
  padding: 5rem 2rem 0 2rem;
}

.texto__produtoNatal {
  display: grid;
  position: absolute;
  /* grid-template-rows: 50% 20% 30%; */
  width: 55%;
  /* background: rgb(255, 0, 45); */
  background: linear-gradient(
    70deg,
    rgba(202, 88, 109, 0.5) 30%,
    rgba(253, 141, 233, 0.5) 60%
  );
  box-shadow: 5px 5px 15px black;
  height: 70%;
  border-radius: 15px;
  align-self: center;
  margin-left: 2rem;
  z-index: 1;
  overflow: hidden;
}

.cardBckgd {
  z-index: -2;
  position: absolute;
  background-image: url("../../img/Natal/fundocard.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 70%;
  animation: brilha 3s infinite;
}

@keyframes brilha {
  0% {
    opacity: 90%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 90%;
  }
}

.pGrande {
  color: #000000;
  /* font-family: "Trocchi", serif; */
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  line-height: 48px;
  margin: 0;
  font-size: 3rem;
  align-self: end;
  justify-self: center;
  /* text-transform: uppercase; */
  line-height: 3;
}

.pPequeno {
  font-size: 26px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
  margin: 0 0 24px;
  align-self: start;
  justify-self: center;
  font-weight: 500;
  line-height: 0;
  font-size: 1.8rem;
}

.pGrande::before {
  content: "";
  background: var(--cor-detalhes);
  position: absolute;
  height: 1em;
  width: 70%;
  left: 14%;
  top: 28%;
  z-index: -1;
  opacity: 85%;
  align-self: start;
  justify-self: start;
  box-shadow: 3px 3px 5px black;
  transition: transform 150ms ease-in-out;
}

.pPequeno::before {
  content: "";
  background: var(--cor-detalhes);
  position: absolute;
  height: 1em;
  width: 50%;
  left: 25%;
  top: 43%;
  z-index: -1;
  opacity: 65%;
  align-self: start;
  justify-self: start;
  box-shadow: 3px 3px 5px black;
  transition: transform 150ms ease-in-out;
}

.texto__produtoNatal:hover > .pGrande::before,
.texto__produtoNatal:hover > .pPequeno::before {
  transform: scale(1.15 /*Lados*/, 1.5 /*Altura*/);
  /* transform-origin: bottom left; */
}

.btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.btnCaixa {
  width: 30%;
  max-width: 300px;
  max-height: 4rem;
  height: 100%;
  border: 0px;
  background-color: var(--cor-detalhes);
  box-shadow: 4px 2px 5px black;
  border-radius: 5%;
  cursor: pointer;
  align-self: end;
  transition: transform ease-in-out 200ms;
}

.btnCaixa > p {
  font-size: 1.4rem;
  /* font-weight: bold; */
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
}

.btnCaixa:hover {
  transform: scale(110%);
}

.foto__produto {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  grid-column: 2/3;
  overflow: hidden;
  z-index: 0;
  padding: 0.5rem;
}

.imgnatal {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 4px 4px 5px black;
  /* padding: 1rem; */
}

@media (max-width: 1440px) {
  .texto__produtoNatal {
    height: 40%;
  }
  .texto__produtoNatal > p {
  }
}

@media (max-width: 1024px) {
  .container {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    height: 900px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .texto__produtoNatal {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 15px;
    align-self: center;
    grid-row: 2/3;
    margin-left: 0rem;
  }

  .texto__produtoNatal > h1 {
    font-size: 3rem;
  }

  .foto__produto {
    height: 100%;
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

@media (max-width: 768px) {
  .texto__produtoNatal > h1 {
    font-size: 2rem;
  }

  .texto__produtoNatal > p {
    font-size: 1.8rem;
  }
}

@media (max-width: 425px) {
  .texto__produtoNatal > h1 {
    font-size: 1.2rem;
  }

  .texto__produtoNatal > p {
    font-size: 1rem;
  }
}
